{:paths ["src" "resources"]

 :deps {org.clojure/data.json {:mvn/version "0.2.6"}
        org.clojure/clojure {:mvn/version "1.9.0"}
        ring/ring-devel {:mvn/version "1.5.0"}
        ring/ring-defaults {:mvn/version "0.2.3"}
        org.postgresql/postgresql {:mvn/version "42.2.1"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}
        http-kit {:mvn/version "2.2.0"}
        org.clojure/java.jdbc {:mvn/version "0.7.5"}
        hiccup {:mvn/version "1.0.5"}
        jkkramer/verily {:mvn/version "0.6.0"}
        ring/ring-core {:mvn/version "1.6.2"}
        com.jakemccrary/reload {:mvn/version "0.1.0"}}

 :aliases {:nrepl {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.12"}}}
           :cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.15.1"}}}
           :test
             {:extra-paths ["test"]
              :main-opts ["-m" "cognitect.test-runner"]
              :extra-deps
              {com.cognitect/test-runner {:git/url "git@github.com:cognitect-labs/test-runner"
                                          :sha "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}}}}}
