{:paths ["src" "resources"]

 :deps {asset-minifier {:mvn/version "0.2.7"}
        com.zaxxer/HikariCP {:mvn/version "2.7.8"}
        coast-framework/error {:git/url "https://github.com/coast-framework/error"
                               :sha "0bd05b335114d67fef7a9285dfaa882b92bed722"}
        org.slf4j/slf4j-nop {:mvn/version "1.7.25"}
        hiccup {:mvn/version "2.0.0-alpha2"}
        http-kit {:mvn/version "2.4.0-alpha3"}
        jkkramer/verily {:mvn/version "0.6.0"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}
        org.clojure/java.jdbc {:mvn/version "0.7.8"}
        ring/ring-core {:mvn/version "1.7.1"}
        ring/ring-devel {:mvn/version "1.7.1"}
        ring/ring-ssl {:mvn/version "0.3.0"}
        ring/ring-headers {:mvn/version "0.3.0"}
        ring/ring-anti-forgery {:mvn/version "1.3.0"}
        javax.servlet/javax.servlet-api {:mvn/version "3.1.0"}}

 :aliases {:repl {:jvm-opts ["-Dclojure.server.repl={:port,7777,:accept,clojure.core.server/repl}"]}

           :test {:extra-paths ["test"]
                  :main-opts ["-m" "cognitect.test-runner"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}}}}}
